body {
  background: url("../static/imagen/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.card {
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  position: relative;
  width: 320px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  text-align: center;
  animation: fade 0.5s ease-in-out;
  backdrop-filter: blur(10px);
  color: rgba(109, 126, 93, 0.877);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid rgba(97, 109, 77, 0.5);
  border-radius: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #697159;
  color: rgb(167, 195, 172);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background-color: #6a7650;
  transform: scale(1.03);
}

a {
  display: block;
  margin-top: 15px;
  color: #697159;
  text-decoration: none;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.flash-messages {
  background-color: rgba(255, 255, 255, 0.8);
  top: 20px;
  position: absolute;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
