<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="flash-messages">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}

    <div class="card">
      <h1>Register</h1>
      <form method="POST" action="/register">
        <input
          type="text"
          id="username"
          name="username"
          required
          placeholder="Enter your username"
        />
        <br /><br />

        <input
          type="password"
          id="password"
          name="password"
          required
          placeholder="Enter your password"
        />
        <br /><br />
        <button type="submit">Register</button>
      </form>

      <a href="/login">Login here</a>
    </div>
  </body>
</html>
